.main-fabricantes {
  display: flex;
  height: 100vh;
  background: var(--background-primary-color);
  flex-direction: column;
  align-items: center;
  padding: 5rem 0rem 5rem 0rem;
}

.title-h1 {
  width: 80vw;
  margin-bottom: 0.625rem;
}

.slider-container {
  display: flex;
  justify-content: center;
  height: 90vh;
}

