.main-services {
  display: flex;
  height: auto;
  padding-bottom: 3rem;
  justify-content: center;
  padding: 5rem 0;
  background: var(--background-primary-color);
}

.container-services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.875rem;
  width: 100%;
  box-sizing: border-box;
}

.conteudo-service {
  width: 80vw;
}

.conteudo-service h1 {
  margin-bottom: 0.625rem;
  font-family: var(--font-family-primary);
  color: var(--primary-subtitle-color);
}

.div_services {
  background-color: var(--background-contrast-color);
  border-radius: 0.5rem;
  padding: 1.25rem 1.875rem;
  text-align: justify;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}

.div_services img {
  max-width: 5rem;
  margin-bottom: 0.9375rem;
}

.div_services h2 {
  font-family: var(--font-family-primary);
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-bottom: 0.625rem;
  text-align: left;
}

.div_services p {
  font-size: 1rem;
  font-family: var(--font-family-primary);
  text-align: left;
  color: var(--primary-subtitle-color);
  line-height: 1.6;
}

@media (max-width: 480px) {
  .conteudo-service {
    width: 95%;
  }

  .container-services {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .div_services {
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .main-services {
    height: auto;
  }

  .container-services {
    grid-template-columns: 1fr;
    padding: 2rem 0;
  }

  .conteudo-service {
    width: 100vw;
    padding: 0 1rem;
  }

  .div_services {
    padding: 1rem;
  }
  
  h2 {
    text-align: start;
  }

}

@media (max-width: 1024px) {
  .main-services {
    height: auto;
    padding-bottom: 3rem;
  }
}