@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-color: #0049FD; 
  --primary-title-color: #F8F6F7;
  --primary-subtitle-color: #666666;
  --font-family-primary: Poppins;
  --background-primary-color: #F8F8F8;
  --background-contrast-color: #ffffff;
  --backgtound-hover: #6f6ffc;
  --background-image: url('../assets/images/bg_pagina_inicial.png');;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.pages-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100vw;
  min-height: 100vh;
}

.barra {
  display: flex;
  width: 6.25rem;
  height: 0.25rem;
  background: var(--primary-color);
  margin-bottom: 1.125rem;
  margin-bottom: 1.875rem;
}

h1 {
  color: var(--primary-subtitle-color);
  margin-bottom: 0.625rem;
  font-size: 2.375rem;
  font-family: var(--font-family-primary);
}

.slider-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  border-radius: 10px;
}

.slider {
  display: flex;
  transition: transform 0.9s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 28.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: var(--background-primary-color); */
}

.slide img {
  max-width: 100%;
  max-height: 12.5rem;
  object-fit: contain;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  padding: 0.9375rem;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  z-index: 10;
  transition: background-color 0.3s ease; /* Adiciona transição suave */
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

button.prev:hover,
button.next:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo no hover */
}
