.main-contatos {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
  background: var(--background-contrast-color);
}

.title-h1 {
  margin-bottom: 1.5rem;
}

.title-h1 h1 {
  font-family: var(--font-family-primary);
  color: var(--primary-subtitle-color);
}

.formulario-imagem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  max-width: 75rem;
  gap: 2rem;
}

.imagem img {
  width: 30vw;
  max-width: 25rem;
  height: auto;
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.formulario input,
.formulario textarea {
  line-height: 1.875rem;
  width: 100%;
  border: none;
  margin: 0.625rem 0;
  border-radius: 0.313rem;
  padding-left: 0.313rem;
  background: var(--background-primary-color);
  color: var(--primary-subtitle-color);
  font-size: 1rem;
}

.formulario textarea {
  min-height: 6.25rem;
  max-height: 9.735rem;
}

.formulario input:focus,
.formulario textarea:focus {
  outline: var(--primary-color) solid 0.188rem;
}

.formulario label {
  font-family: var(--font-family-primary);
  color: var(--primary-color);
  font-size: 1.2rem;
}

.formulario button {
  font-family: var(--font-family-primary);
  color: var(--primary-color);
  width: 8.125rem;
  height: 1.875rem;
  border-radius: 0.313rem;
  border: solid 1px var(--primary-color);
  background: transparent;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
  margin-top: 1rem;
}

.formulario button:hover {
  background-color: var(--primary-color);
  color: var(--primary-title-color);
}

@media only screen and (max-width: 480px) {
  .main-contatos {
    padding: 3rem 0;
  }

  .main-contatos h1 {
    font-size: 2rem;
  }

  .title-h1 {
    width: 100%;
    padding: 0px 1rem;
  }

  .formulario-imagem {
    width: 90vw;
    gap: 1rem;
  }

  .imagem img {
    width: 80vw;
  }

  .formulario {
    width: 100%;
  }

  .formulario input,
  .formulario textarea {
    min-width: 100%;
    max-width: 100%;
    font-size: 1rem;
  }

  .formulario button {
    background-color: var(--primary-color);
    color: var(--background-contrast-color);
    font-weight: 600;
    height: 2.5rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .formulario-imagem {
    flex-direction: column;
    gap: 1rem;
  }

  .imagem img {
    width: 80vw;
  }

  .formulario {
    width: 100%;
  }

  .formulario button {
    background-color: var(--primary-color);
    color: var(--background-contrast-color);
    font-weight: 600;
  }
}
