.main-index {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 140px;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 60px;
}

.conteudo {
  width: 60%;
  height: auto;
  color: white;
  padding: 1.25rem;
  border-radius: 0.5rem;
}

.conteudo h1 {
  font-size: 2.75rem;
  color: var(--primary-title-color);
  font-family: var(--font-family-primary);
  font-weight: 600;
  margin-bottom: 1.125rem;
}

.typewriter-text {
  font-family: var(--font-family-primary);
  font-weight: 600;
  font-size: 2rem;
  color: var(--primary-color);
  text-shadow: 0.125rem 0.125rem 0.875rem rgba(61, 60, 60, 0.5);
}

h3 {
  font-family: var(--font-family-primary);
  font-weight: 500;
  font-size: 1.25rem;
  text-shadow: 0.125rem 0.125rem 0.875rem rgba(61, 60, 60, 0.5);
  color: var(--primary-title-color);
  margin-bottom: 1.125rem;
}

.botao_contato {
  width: 10.625rem;
  height: 3.125rem;
  background: var(--primary-color);
  color: var(--primary-title-color);
  border-radius: 0.3125rem;
  border: none;
  font-family: var(--font-family-primary);
  font-size: 1.125rem;
  color: var(--background-primary-color);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.botao_contato:hover {
  background-color: var(--backgtound-hover);
  color: #e7f2ff;
}

.botao_contato a {
  text-decoration: none;
  color: var(--background-primary-color);
}

@media (max-width: 1200px) {
  .main-index {
    padding-left: 100px;
  }

  .conteudo h1 {
    font-size: 2.5rem;
  }

  .typewriter-text {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.125rem;
  }
}

@media (max-width: 992px) {
  .main-index {
    padding-left: 80px;
  }

  .conteudo h1 {
    font-size: 2.25rem;
  }

  .typewriter-text {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  .botao_contato {
    width: 9rem;
    height: 2.75rem;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .main-index {
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
    text-align: center;
  }

  .conteudo {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .conteudo h1 {
    font-size: 2rem;
  }

  .typewriter-text {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 0.875rem;
  }

  .botao_contato {
    width: 8rem;
    height: 2.5rem;
    font-size: 0.875rem;
  }

}

@media (max-width: 480px) {
  .main-index {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }

  .conteudo {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .conteudo h1 {
    font-size: 1.75rem;
    text-align: left;
  }

  .typewriter-text {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 0.75rem;
  }

  .botao_contato {
    width: 7rem;
    height: 2.25rem;
    font-size: 0.75rem;
  }
}