<nav class="navbar">
  <div class="menu">
    <div><img src="/assets/images/logotheuniontenology.png" alt="The Union Of Technology"></div>
    <div class="nav">
      <ul>
        <li><a href="/pages/index.html">Início</a></li>
        <li><a href="/pages/sobre.html">Sobre</a></li>
        <li><a href="/pages/servicos.html">Serviços</a></li>
        <li><a href="/pages/clientes.html">Clientes</a></li>
        <li><a href="/pages/fabricantes.html">Fabricantes</a></li>
        <li><a href="/pages/suporte.html">Suporte</a></li>
        <li><a href="/pages/contato.html">Contato</a></li>
      </ul>
    </div>
  </div>
</nav>
