.main-clients {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0rem 5rem 0rem;
}

.title-h1 {
  width: 80vw;
  margin-bottom: 0.625rem;
}

.container_h1 {
  display: inline-block;
  width: 70%;
  margin: 6.063rem 0rem 0rem 2.75;
}




