.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.menu {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
  cursor: default;
}

.menu img {
  width: 130px;
  padding-left: 15px;
}

.menu > div:first-child {
  justify-self: start;
  font-size: 1.5rem;
  font-weight: bold;
}

.menu > .nav {
  justify-self: end;
}

.nav ul {
  display: flex;
  gap: 25px;
  padding-right: 10px;
}

.nav ul li a {
  width: 20px;
  padding: 20px 15px 5px 15px;
  color: var(--background-contrast-color);
  font-family: var(--font-family-primary);
  font-weight: 400;
}

.nav ul li a:hover {
  background: var(--primary-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 20px 15px 5px 15px;
  border-radius: 5px;
}

.nav a.active {
  background-color: var(--primary-color);
  color: var(--primary-title-color);
  border-radius: 5px;
}
