.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.25rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: background 0.3s ease;
}

.navbar.scrolled {
  background: rgba(0, 0, 0, 0.6); /* Cor do background quando o scroll for detectado */
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu img {
  width: 8.125rem;
  padding-left: 0.938rem;
}

.hamburger {
  display: none; /* Esconder o ícone do hambúrguer em telas maiores */
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: var(--background-contrast-color);
  margin: 4px 0;
  transition: 0.3s;
}

.nav ul {
  display: flex;
  gap: 0.625rem;
}

.nav ul li a {
  padding: 0.938rem 0.938rem 0.313rem 0.938rem;
  color: var(--background-contrast-color);
  font-family: var(--font-family-primary);
  font-weight: 400;
}

.nav ul li a:hover {
  background: var(--primary-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  border-bottom-left-radius: 0.313rem;
  border-bottom-right-radius: 0.313rem;
}

.active {
  background-color: var(--primary-color);
  color: var(--primary-title-color);
  border-bottom-left-radius: 0.313rem;
  border-bottom-right-radius: 0.313rem;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  .hamburger {
    display: flex; /* Mostrar o ícone do hambúrguer em telas menores */
  }

  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .nav.open {
    max-height: 500px; /* Altura máxima para exibir o menu */
  }

  .nav ul {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .nav ul li a {
    padding: 1rem;
    width: 100%;
    display: block;
  }
}